@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-800;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-vertical {
  width: 12px;
}

::-webkit-scrollbar-thumb:vertical {
  @apply bg-red-800;
  border-radius: 6px;
}

::-webkit-scrollbar-track:vertical {
  background-color: #e5e7eb;
}
