@import url('themes/red.css');
@import url('themes/purple.css');
@import url('themes/green.css');
@import url('themes/blue.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/IRANSansXFaNum-Black.woff2') format('woff2');
}

::-webkit-scrollbar {
    @apply hidden;
}

@layer base {
    * {
        @apply text-stone-950 transition-colors dark:text-white;
    }
    * > svg {
        @apply dark:fill-slate-100;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .svg-duration-100 {
        @apply [&>svg]:transition-all [&>svg]:duration-100;
    }
    .flex-cols {
        @apply flex flex-col;
    }
    .flex-v-center {
        @apply flex items-center;
    }
    .flex-rev-v-center {
        @apply flex flex-row-reverse items-center;
    }
    .flex-col-v-center {
        @apply flex flex-col justify-center;
    }
    .flex-row-between {
        @apply flex justify-between;
    }
    .bg-main {
        @apply bg-gray-100 dark:bg-stone-800;
    }
    .shadow-main {
        @apply shadow-box dark:shadow-box-light;
    }

    .size-1 {
        @apply h-1 w-1;
    }
    .size-2 {
        @apply h-2 w-2;
    }
    .size-3 {
        @apply h-3 w-3;
    }
    .size-4 {
        @apply h-4 w-4;
    }
    .size-5 {
        @apply h-5 w-5;
    }
    .size-6 {
        @apply h-6 w-6;
    }
    .size-8 {
        @apply h-8 w-8;
    }
    .size-9 {
        @apply h-9 w-9;
    }
    .size-10 {
        @apply h-10 w-10;
    }
    .size-12 {
        @apply h-12 w-12;
    }
    .size-13 {
        @apply h-13 w-13;
    }
    .size-14 {
        @apply h-14 w-14;
    }
    .size-16 {
        @apply h-16 w-16;
    }
    .size-24 {
        @apply h-24 w-24;
    }
    .size-32 {
        @apply h-32 w-32;
    }
    .size-48 {
        @apply h-48 w-48;
    }
    .size-64 {
        @apply h-64 w-64;
    }
    .size-96 {
        @apply h-96 w-96;
    }
    .size-full {
        @apply h-full w-full;
    }
    .online-state {
        @apply absolute bottom-0 right-0 block h-3 w-3 rounded-full border border-transparent bg-green-600;
    }
    .avatar {
        @apply rounded-full border border-primary-900 dark:border-primary-500 dark:bg-stone-500;
    }
    .border-activity {
        @apply border-[1px] border-dashed border-stone-700/50 dark:border-stone-100/50;
    }
    .tooltip::after {
        content: attr(data-content) !important;
    }
    .menu-item {
        @apply max-h-0 overflow-hidden;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
    }
    .menu-item-active {
        @apply max-h-[650em];
        transition: max-height 2s ease-in-out;
    }
    .text-base-res {
        @apply text-sm xl:text-base;
    }
    .text-mute {
        @apply text-sm opacity-60;
    }
    .text-title {
        @apply text-2xl font-extrabold;
    }
}

.MuiDateRangeCalendar-root > div[style*='z-index: 100000; width: 100%; '] {
    display: none !important;
}
