@import url('themes/red.css');
@import url('themes/purple.css');
@import url('themes/green.css');
@import url('themes/blue.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'iransansfa';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/IRANSansXFaNum-Black.woff2') format('woff2');
}

::-webkit-scrollbar {
    @apply hidden;
}

@layer base {
    * {
        @apply text-primary-950;
        @apply transition-colors;
        @apply dark:text-primary-50;
    }
}
